<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">
    
    <context:component-scan base-package="com.lewis.master"></context:component-scan>
    <mvc:annotation-driven>
        <mvc:argument-resolvers>
            <bean class="com.lewis.master.common.core.JsonArgumentsResolver"></bean>
        </mvc:argument-resolvers>
        <mvc:return-value-handlers>
            <bean class="com.lewis.master.common.core.ResponseJsonReturnValueHandler">
                <property name="httpMessageConverter" ref="jackson2HttpMessageConverter"/>
            </bean>
        </mvc:return-value-handlers>
    </mvc:annotation-driven>
    <mvc:resources mapping="/static/**" location="/static/"/>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <bean class="com.lewis.master.common.core.RequestMappingHandlerPostProcessor">
       <!-- <property name="removedArgumentResolvers" >
            <list>
                <value>org.springframework.web.method.annotation.MapMethodProcessor</value>
            </list>
        </property>-->
        <property name="removedReturnValueHandlers">
            <list>
                <!--<value>org.springframework.web.servlet.mvc.method.annotation.ViewNameMethodReturnValueHandler</value>-->
               <!-- <value>org.springframework.web.method.annotation.MapMethodProcessor</value>-->
            </list>
        </property>
    </bean>

    <bean id="jackson2HttpMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"/>

</beans>